#ignore files general
**/.vscode
**/.log
**/.vagrant
workspace.code-workspace

#security
**/authorized_keys
**/*.pub
**/*.ppk
#erp
**/provisioning/**/*.rpo
**/provisioning/**/*.zip*
**/provisioning/**/*.dll*

# rules postgresql
**/*.retry
**/*/__pycache__
**/*.pyc